.logo{
    width: 10%;
   
    img{
        width: 100%;
     }
     @include mobile{
       width: 30%;
       margin-top: 0%;
    }
    @include tablet{
        width: 10%;
        margin-top: 1%;
      
     }
     @include tablet-pro{
        width: 10%;
        margin-top: 1%;
     }
     
}
