.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    height: 8%;
    width: 100%;
    

   
    @include mobile{
        flex-direction: column;
        height: 150px;
        margin-bottom: 0%;
        
    }
    
  
    
    
}

